<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:form="">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://be1.ru/uploads/favicons/1LMETapmaKAYwEY8/favicon-32x32.png"
          type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script type="text/javascript" src="/js/deleteUser.js"></script>
    <script type="text/javascript" src="/js/editUser.js"></script>
    <script type="text/javascript" src="/js/newUser.js"></script>
    <script type="text/javascript" src="/js/getAllUsers.js"></script>
    <title>Admin panel</title>
</head>
<link rel="shortcut icon" href="https://be1.ru/uploads/favicons/QGr0nOvfBgwIINEC/favicon-32x32.png" type="image/x-icon">
<body>
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand"><b>&nbsp;<span th:text="${#authentication.getPrincipal().getEmail()}">Bob</span> </b><small>with roles: ADMIN USER</small></span>
        <a class="nav-link text-muted" href="/logout">Logout</a>
    </div>
</nav>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <br>
                <br>
                <br>
                <!-- кнопки юзер админ -->
                <div class="container-fluid m-0 p-0">
                    <div class="row">
                        <div class="nav flex-column nav-pills m-0 p-0" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- кнопки юзер админ -->
            <div class="col-10 bg-light">
                <br>
                <br>
                <br>
                <!-- content user info user/admin -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <div class="container">
                            <h1>Admin panel</h1>
                        </div>
                        <!-- Модальное окно -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-6">
                                                    <form>
                                                        <div class="form-group  text-center">
                                                            <label for="formGroupExampleInput"><b>ID</b></label>
                                                            <input type="text" class="form-control"
                                                                   id="deleteId" name="id" readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="firstName"><b>First
                                                                name</b></label>
                                                            <input type="text" class="form-control"
                                                                   id="deleteName" name="firstName"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Last name</b></label>
                                                            <input type="text" class="form-control"
                                                                   id="deleteLastName" name="lastName"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Age</b></label>
                                                            <input type="text" class="form-control"
                                                                   id="deleteAge" name="age"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Email</b></label>
                                                            <input type="text" class="form-control"
                                                                   id="deleteEmail" name="email"
                                                                   readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Password</b></label>
                                                            <input type="password" class="form-control"
                                                                   id="deletePassword" name="password" readonly>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="exampleFormControlSelect2"><b>Role</b></label>
                                                            <select multiple class="form-control"
                                                                    id="deleteRole" size="2" name="role" readonly>
                                                                <option>ADMIN</option>
                                                                <option>USER</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-danger" id="delete" onclick="">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- модальное окно -->
                        <!-- Модальное окно edit -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" role="dialog">
                            <form>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModal2">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-6">

                                                        <form>
                                                            <div class="form-group text-center">
                                                                <label for="id"><b>ID</b></label>
                                                                <input type="text" class="form-control"
                                                                       id="id" name="id" readonly>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="firstName"><b>First
                                                                    name</b></label>
                                                                <input type="text" class="form-control"
                                                                       id="firstName" name="firstName">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="lastName"><b>Last name</b></label>
                                                                <input type="text" class="form-control"
                                                                       id="lastName" name="lastName">
                                                            </div>
                                                            <div class="form-group row  text-center">
                                                                <label for="age"
                                                                       class="col-xs-2 col-form-label"><b>Age</b></label>
                                                                <div class="col-xs-10">
                                                                    <input class="form-control" type="number"
                                                                           id="age" name="age">
                                                                </div>
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="email"><b>Email</b></label>
                                                                <input type="text" class="form-control"
                                                                       id="email" name="email">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="password"><b>Password</b></label>
                                                                <input type="password" class="form-control"
                                                                       id="password" name="password">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="roleEdit"><b>Role</b></label>
                                                                <select multiple class="form-control"
                                                                        id="roleEdit" size="2" name="role">
                                                                    <option>ADMIN</option>
                                                                    <option>USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" id="edit">Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- модальное окно edit -->
                        <!-- Вкладки -->
                        <div class="container">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                            aria-selected="true">Users table
                                    </button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-profile" type="button" role="tab"
                                            aria-controls="nav-profile" aria-selected="false">New user
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <!-- таблица -->
                                    <div class="col-12 bg-light p-3 border rounded-top">
                                        <b>All users</b>
                                    </div>
                                    <div class="col-sm-12 bg-white p-3 border rounded-bottom">
                                        <table class="table table-striped" id="getAll">
                                            <thead style="border-bottom:2px solid gainsboro; background:white">
                                            <tr style="border-top:1px solid gainsboro; background:white">
                                                <td><b>ID</b></td>
                                                <td><b>First name</b></td>
                                                <td><b>Last name</b></td>
                                                <td><b>Age</b></td>
                                                <td><b>Email</b></td>
                                                <td><b>Role</b></td>
                                                <td><b>Edit</b></td>
                                                <td><b>Delete</b></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                    <!-- таблица -->
                                </div>
                                <!--вкладка новый пользователь  -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <div class="col-12 bg-light p-3 border rounded-top">
                                        <b>Add new user</b>
                                    </div>
                                    <div class="col-sm-12 bg-white p-3 border rounded-bottom">
                                        <form action="/api/users" method="post">
                                            <form:hidden path="id"/>
                                            <div class="container">
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-6">
                                                        <div class="form-group text-center">
                                                            <label for="name"><b>First name</b></label>
                                                            <input type="text" name="name" class="form-control"
                                                                   id="newName" placeholder="">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Last name</b></label>
                                                            <input type="text" name="lastName" class="form-control"
                                                                   id="newLastName" placeholder="">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Age</b></label>
                                                            <input type="text" name="age" class="form-control"
                                                                   id="newAge" placeholder="">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Email</b></label>
                                                            <input type="text" name="email" class="form-control"
                                                                   id="newEmail" placeholder="">
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="formGroupExampleInput2"><b>Password</b></label>
                                                            <input type="password" name="password" class="form-control"
                                                                   id="newPassword" placeholder="">
                                                        </div>
                                                        <div class="text-center">
                                                            <label for="exampleFormControlSelect2"><b>Role</b></label>
                                                            <select multiple class="form-control"
                                                                    id="newRole" size="2"
                                                                    name="roles">
                                                                <option>ADMIN</option>
                                                                <option>USER</option>
                                                            </select>
                                                        </div>
                                                        <br>
                                                        <div class="text-center">
                                                            <button type="submit" id="new" class="btn btn-success"
                                                            >Add new user
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <!--вкладка новый пользователь   -->
                            </div>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <!-- Вкладки -->
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <div class="col-10 bg-light">
                            <div class="container">
                                <h1>User information-page</h1>
                            </div>
                            <div class="container-fluid">
                                <div class="col-12 bg-light p-3 border rounded-top">
                                    <b>About user</b>
                                </div>
                                <div class="col-sm-12 bg-white p-3 border rounded-bottom">
                                    <table class="table table-striped">
                                        <thead style="border-bottom:2px solid gainsboro; background:white">
                                        <tr style="border-top:1px solid whitesmoke">
                                            <td><b>ID</b></td>
                                            <td><b>First name</b></td>
                                            <td><b>Last name</b></td>
                                            <td><b>Age</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Role</b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="border border-light">
                                            <td><span th:text="${#authentication.getPrincipal().getId()}">value</span>
                                            </td>
                                            <td><span th:text="${#authentication.getPrincipal().getName()}">value</span>
                                            </td>
                                            <td><span
                                                    th:text="${#authentication.getPrincipal().getLastName()}">value</span>
                                            </td>
                                            <td><span th:text="${#authentication.getPrincipal().getAge()}">value</span>
                                            </td>
                                            <td><span
                                                    th:text="${#authentication.getPrincipal().getEmail()}">value</span>
                                            </td>
                                            <td><span th:text="${roles.get(#authentication.getPrincipal().getId())}">value</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<script type="text/javascript">

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>
