<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>User page</title>
    <link rel="shortcut icon" href="https://be1.ru/uploads/favicons/QGr0nOvfBgwIINEC/favicon-32x32.png"
          type="image/png">
    <script type="text/javascript" src="/js/showUser.js"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand"><b>&nbsp;<span th:text="${#authentication.getPrincipal().getEmail()}">value</span> </b><small>with role: USER</small></span>
        <a class="nav-link text-muted" href="/logout">Logout</a>
    </div>
</nav>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <br>
                <br>
                <br>
                <div class="container-fluid m-0 p-0">
                    <div class="row no-gutters">
                        <button type="button" class="btn btn-primary btn-lg" style="width:100%">User &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
            <div class="col-10 bg-light">
                <br>
                <br>
                <br>
                <div class="container">
                    <h1>User information-page</h1>
                </div>
                <div class="container-fluid">
                    <div class="col-12 bg-light p-3 border rounded-top">
                        <b>About user</b>
                    </div>
                    <div class="col-sm-12 bg-white p-3 border rounded-bottom">
                        <table class="table table-striped">
                            <thead style="border-bottom:2px solid gainsboro; background:white">
                            <tr style="border-top:1px solid whitesmoke">
                                <td><b>ID</b></td>
                                <td><b>First name</b></td>
                                <td><b>Last name</b></td>
                                <td><b>Age</b></td>
                                <td><b>Email</b></td>
                                <td><b>Role</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="border border-light">
                                <td><span th:text="${#authentication.getPrincipal().getId()}">value</span></td>
                                <td><span th:text="${#authentication.getPrincipal().getName()}">value</span></td>
                                <td><span th:text="${#authentication.getPrincipal().getLastName()}">value</span></td>
                                <td><span th:text="${#authentication.getPrincipal().getAge()}">value</span></td>
                                <td><span th:text="${#authentication.getPrincipal().getEmail()}">value</span></td>
                                <td><span th:text="${roles}">value</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>